In [1]:
print("hello world")

enter no34
even

In [2]:
l = int(input("enter the length of the rectangle"))
b = int(input("enter the bredth of the rectangle"))
print("Area of rectangle :" , l*b)

enter the length of the rectangle2
enter the bredth of the rectangle3
Area of rectangle : 6

In [3]:
a = int(input("enter first number"))
b = int(input("enter second number"))
c = a  
a = b
b= c 
print("the interchanged value of :","first : ", a,"second : " ,b)

enter first number1
enter second number2
the interchanged value of : first :  2 second :  1

In [4]:
num =  int(input("enter a number:"))
print("square root :", num**0.5 )

enter a number:4
square root : 2.0

In [5]:
num =  int(input("enter weight in kg:"))
print("weight in pounds : ", 2.205*num)

enter weight in kg:1
weight in pounds :  2.205

In [6]:
num = int(input("enter no"))
if num%2 ==0:
    print("even")
else :
    print("odd")

enter no3
odd

In [9]:
num = int(input("enter 1st no:"))
num2 = int(input("enter 2nd no:"))
num3 = int(input("enter 3rd no:"))
if (num>num2 and num>num3):
    print("largest is :", num)
elif(num2>num and num2>num3):
    print("largest is :", num2)
elif(num3>num and num3>num2):
    print("largest is :", num3)
else:
    print("number are equal ")

enter 1st no:1
enter 2nd no:2
enter 3rd no:3
largest is : 3

In [1]:
year = int(input("enter year :"))
if (year%400 ==0):
    print("leap year")
elif year% 100 ==0 :
    print("not a leap year")
elif year%4 == 0:
    print("leap year")
else :
    print("not a leap year")

enter year :1900
not a leap year

In [21]:
num  = int(input("enter the number till which we need to print fibonacci series :"))


temp  = 0
if num >=1:
    print(temp)
temp1 = 1
if num >=2:
    print(temp1)
if num>2:
    for i in range(num-2):
        temp =temp +temp1
        print(temp)
        temp1 = temp +temp1
        
        print(temp1)

enter the number till which we need to print fibonacci series :3
0
1
1
2

In [4]:
num =  int(input("enter the number :"))
sum =0 
temp =num
while temp >0:
    sum = sum + (temp%10)**3
    temp = temp//10
if sum == num:
    print("armstrong")
else:
    print("not armstrong")

enter the number :153
armstrong