In [4]:
for i in range(1,4):
    print()
    for j in range(1,i+1):
        print("*",end="")

*
**
***

In [6]:
for i in range(1,4):
    print()
    for j in range(1,i+1):
        print(j,"",end="")

1
1 2
1 2 3

In [7]:
temp=1
for i in range(1,4):
    print()
    for j in range(1,i+1):
        print(temp,"",end="")
        temp+=1

1
2 3
4 5 6

In [60]:
for i in range(1,5):
    print()
    n =2*(i)
    for k in range(1,6-i):
        print(" ",end="")
    for j in range(1,n):
        print("*",end="")

for i in range(1,4):
    n=2*(5-i)
    print()
    print(" ",end="")
    for k in range(1,i+1):
        print(" ",end="")
    for j in  range(1,n-2):
        print("*",end="")

    *
   ***
  *****
 *******
  *****
   ***
    *

In [19]:
for i in range(1,4):
    print()
    n =2*(i)+1
    for k in range(1,5-i):
        print(" ",end="")
    for j in range(1,n):
        print("*",end="")
    print()
    for k in range(1,5-i):
        print(" ",end="")
    for j in range(1,n):
        print("*",end="")

   **
   **
  ****
  ****
 ******
 ******

In [23]:
u = int(input("Enter a number:"))
sum=0
temp=u
while temp>0:
    sum=sum+(temp%10)**3
    temp=int(temp/10)
if sum==u:
    print("yes armstrong")
else :
    print("not armstrong")

Enter a number:153
yes armstrong

In [1]:
u = int(input("Enter a number:"))
temp=1
for i in range(2,u+1):
    temp= temp*i
print(temp)

Enter a number:1
1

In [27]:
u = int(input("Enter a number:"))
print("sum till nth natural number:",int(u*(u+1)/2))

Enter a number:3
sum till nth natural number: 6

In [32]:
u = int(input("Enter a number:"))
while True:
    if u<10:
        print("u is less than 2")
        break
    else:
        u-=2
        print("-2",end="")
        continue

Enter a number:23

-2
-2
-2
-2
-2
-2
-2
u is less than 2